<head>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
      rel='stylesheet'>
</head>
<style>
    h3 {
  text-align: center;
  margin-top: 20px;
}

/* Style the form */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
}

/* Style the form fields */
form input[type=text], form input[type=number],form select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Style the submit button */
form button[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form button[type=submit]:hover {
  background-color: #45a049;
}
  </style>
  <body>
<h3><a href="/"><i class='bx bx-arrow-back'></i></a>Sửa thông tin sinh viên</h3>
<form action="/update_student/<%= studentToUpdate._id %>" method="post">
  Tên: <input type="text" name="name" value="<%= studentToUpdate.name %>">
  <br>
  Giới tính:
  <select name="gender">
    <% if (studentToUpdate.gender === 'Nam') { %>
      <option value="Nam" selected>Nam</option>
      <option value="Nữ">Nữ</option>
    <% } else { %>
      <option value="Nam">Nam</option>
      <option value="Nữ" selected>Nữ</option>
    <% } %>
  </select> <br>
  Tuổi: <input type="number" name="age"
    value="<%= studentToUpdate.age %>"> <br>
  Điểm Toán: <input type="number" step="0.01" min="0" max="10" name="mathScore"
    value="<%= studentToUpdate.mathScore %>"> <br>
  Điểm Lý: <input type="number" step="0.01" min="0" max="10" name="physicsScore"
    value="<%= studentToUpdate.physicsScore %>"> <br>
  Điểm Hóa: <input type="number" step="0.01" min="0" max="10" name="chemistryScore"
    value="<%= studentToUpdate.chemistryScore %>"> <br>
  <button type="submit">Cập nhật</button>
</form>
  </body>